body {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}
.sidenav {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 2px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #AAAAAA;
    overflow-x: hidden; /* Disable horizontal scroll */
    font-size: 16px;
    color: #111122;
}

.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0 10px;
}

.intro {
    padding: 5px;
    margin: 5px;
}

th {
    padding: 2px;
}

td {
    padding: 3px;
}

td.border {
    border: 1px solid black;
}

tr {
    border-spacing: 0;
}

table {
    border-collapse: collapse;
}

div.message {
    margin-left: 20px;
    color: darkcyan;
}

div.error {
    margin-left: 20px;
    color: darkred;
}

.highlight {
    color: #442222;
}

.formLabel {
    font-weight: bolder;
}

.httpMethod {
    text-align: center;
    font-weight: bold;
}

.GETMethod {
    color: darkgreen;
}

form {
    padding: 5px;
}

.loginFormTable {
    width: 440px;
    margin: 5px;
}

.activityLinks {
    width: 500px;
    text-align: center;
}

.centerCell {
    text-align: center;
}

.clickText:hover {
    color: darkred;
    cursor: pointer;
}

.clickText {
    padding: 3px;
    color: darkmagenta;
    text-decoration: underline;
}
